#bio {
    h1 {
        color: #4aaaa5;
        font-family: Georgia, 'Times New Roman', Times, serif;
        padding: 60px 20px 0 20px;
        margin-left: 4px;
    } 
    .flex-container {
        display: flex;
        justify-content: center;
    }
}