.navbar {
    h1 {
        color: rgb(51, 2, 2)
    }
    ul {
        li {
            list-style-type: none;
            color: black;
            a {
                text-decoration: none;
            }
        }
    }
}